.recipes_container {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 20vh;

  .recipes_title_container {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;

    input {
      width: 150%;
      height: 50px;
      background-color: transparent;
      border: 5px solid green;
      border-radius: 10px;
      font-size: 25px;
    }
    .title {
      font-size: 60px;
      font-family: "Black";
      color: green;
    }
  }

  .recipes_inner_container {
    grid-gap: 20px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
  }

  .no_existing {
    text-align: center;
    font-size: 5vw;
    color: green;
    font-family: "BoldItalic";
  }
}
